@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Bowlby+One+SC&family=Dela+Gothic+One&family=Mouse+Memoirs&family=Roboto:ital,wght@0,900;1,900&family=Slackey&display=swap');

.heroImage {width: 100%;
    height: 100%;
    background-image: url('./../img/heroImage.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0 0 0 0;
    z-index: 1;
}

.profilePicture {
    background-image: url('./../img/profilePicture.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid;
    border-width: 1vw;
    border-color: #e8e1da;
    border-radius: 50%;
    position: absolute;
    bottom: 27%;
    left: 50%;
    transform: translateX(-50%);
    width: 25vw;
    height: 25vw;
    z-index: 1;

}

.meet { background-image: url(./../img/meet.png);
    position: absolute;
    width: 21vw;
    height: 23vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 22%;
    bottom: 11.7%;
    z-index: 3;
}

header{
    position: relative;
    text-align: center;
    background-color: rgb(104, 7, 174);
    height: 79vw;
    z-index: 0;
}
body{
    background-color: rgb(161 119 186);
}

html, body{
    margin: 0%;padding: 0%;
}
#mainHeader{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 9vw;
    color: white;
    text-align: center;
    padding-top: 2vw;
    position: absolute;
    top: 51.75vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#subHeader1{
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    color: white;
    padding-top: 2vw;
    position: absolute;
    top: 65vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#subHeader2{
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    color:#c575ff;
    text-align: center;
    padding-top: 2vw;
    position: absolute;
    top: 69.5vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* color: #c575ff; */