
header{
    text-align: center;
    background-color: rgb(104, 7, 174);
    height: 77vw;
}

body{
    background-color: rgb(161 119 186);
}

html, body{
    margin: 0%;padding: 0%;
}

.mouse-memoirs-regular {
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slackey-regular {
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mainHeader{
    font-size: 8vw; color: white;
    text-align: center;
    padding-top: 2vw;position: absolute;
    top: 52vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.imageContainer{
    position: relative; width: 100% px;
}

#heroBanner{
    align-content: center;
}
.responsiveImage{
    width: 100%; height: auto; display: block;
}
.roundIcon {
    display: center;
    width: 500px;
    height: auto;
    border: solid;
    border-width: 1vw;
    border-color: #e8e1da;
    border-radius: 50%;
}
#profilePicture{
    position: absolute;
    bottom: -10vw;
    left: 50%;
    transform: translateX(-50%);
    width: 25vw;
    height: auto;
    z-index: 1;
}
#meet{
    position: absolute;
    bottom: -17vw;
    left: 22%;
    width: 20vw;
    height: auto;
    z-index: 3;
}
#subHeader1{
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    color: white;
    padding-top: 2vw;
    position: absolute;
    top: 65vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#subHeader2{
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    color:#c575ff;
    text-align: center;
    padding-top: 2vw;
    position: absolute;
    top: 70vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.h1{

}
.h2{

}

/* color: #c575ff; */